@import "tailwindcss"; 

*{
    font-family: "Poppins", sans-serif;
}

/* *{
    border: 1px solid #E0E0E0;
} */


.textColor{
    color: #444444;
}
.textColor1{
    color: #f34159;
}
.customBg{
    background-color: #F02640;
}
.customGrayBg{
    background-color: #EFEFEF;
}
.bgColor1{
    background-color: #2FB991;
}

.customBorder{
    border: 1px solid #F02640;
}